# Hacktiv8-PTP Python for Data Science // S.1 // Introduction, Data Types, and Variables

---

In [1]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

## <b> Data Type in Python </b>

In [3]:
# Integer

print(15)
print(type(15))

15
<class 'int'>

In [7]:
# Floating-Point Numbers

print(4.5)
print(type(4.5))

print(4.)
print(.5)
print(.4e7)
print(4.5e-4)

4.5
<class 'float'>
4.0
0.5
4000000.0
0.00045

In [6]:
# Strings

print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [8]:
# Boolean

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## <b> Variables </b>

In [9]:
# Variable Assignment

n = 500
print(n)
n

500

500

In [10]:
# Chained Assignment

a = b = c = 600
print(a, b, c)

600 600 600

In [17]:
# Variable can be updated

var = 30
print(var)

var = "I am string"
print(var)

30
I am string

In [15]:
# Variables Names

name = "Nindya Eka Apsari"
Age = 21
has_laptops = True
print(name, Age, has_laptops)

Nindya Eka Apsari 21 True

In [18]:
# Variable name can not be initiating by number

6_juni_2000 = True

SyntaxError: invalid token (<ipython-input-18-5846ea67ed6b>, line 3)

In [19]:
# Supported variables name

age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

## <b> Operators </b>

In [23]:
n = 4
k = 5
print("n + k = ", n + k)
print("n + k - 1 = ", n + k - 1)

n + k =  9
n + k - 1 =  8

In [26]:
# Arithmetic Operators

a = 10
b = 9

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

19
1
90
1.1111111111111112
1
1000000000

In [28]:
# Comparison Operators

a = 20
b = 40

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False

In [32]:
# String Manipulation

# + Operators
s = 'Nin'
t = 'dya'
u = ' Eka'

print(s + t)

print(s + t + u)


print('Statistika' + ' UNS')

print("s * 4 =", s * 4)

print(s in "Nindya Eka Apsari")
print(s in "Eka Apsari")

Nindya
Nindya Eka
Statistika UNS
s * 4 = NinNinNinNin
True
False

In [33]:
# Case Conversion
s = 'NinDya6'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Nindya6
nindya6
nINdYA6
Nindya6
NINDYA6

## <b> Python List <b/>

In [34]:
a = ['nin', 'dya', 'eka', 'apsari']

print(a)

['nin', 'dya', 'eka', 'apsari']

In [36]:
# List are ordered

a = ['nin', 'dya', 'eka', 'apsari']
b = ['dya', 'eka', 'apsari', 'nin']

a == b

False

In [38]:
# List can contain arbitary objects

a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

## <b> Python Tuples </b>

In [39]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

## <b> Python Dictionary </b>

In [40]:
data_diri = {
    'nama': 'Nindya',
    'batch': '002',
    'program': 'Intro to Python for Data Science',
    'univ': 'UNS',
    'prodi': 'Statistika'
}

In [41]:
data_diri['nama']

'Nindya'

In [43]:
person = {}
type(person)

person['fname'] = 'Nindya'
person['lname'] = 'Eka'
person['age'] = 21
person['univ'] = 'UNS'
person['friend'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [45]:
person['fname']

'Nindya'

In [46]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [47]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True